*, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "IBM Plex Mono", serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 30px;
}


header {
    background: black;
    width: 99vw;
    height: 10vh;

}

.header-wrapper {
    width: 85vw;
    background-color: #1B1B1B;
    height: 10vh;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.logo-wrapper {
    margin-left: 150px;
}

.wrapper-item {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.menu-item {
    color: #9C9C9C;
    font-size: 16px;
    text-decoration: none;
}



.profPhoto {
    width: 350px;
    height: 330px;
}

/* MAIN */
.hero {
    min-height: 78vh;
    background-color:black;
    padding-top: 100px;
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: Raleway;
    font-size: 44px;
    font-weight: 800;
    color: white;
}

.text1 {
    margin-top: 50px;
    margin-bottom: 50px;
    line-height:2;
}

.p-text {
    color: #9C9C9C;
    font-size: 14px;
    line-height: 2;
}

.hero-content {
    margin-top: 50px;
    align-self: center;
    width: 60%;
}

.button1 {
    padding: 18px 70px;
    border-radius: 5px;
    background-color: #3F8E00;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 150px;
}

.hero-img {
    width: 30%;
}

.text2 {
    font-size:16px;
    color: white;
}

.buttons-wrapper {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buttonjon {
    width: 160px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
}

/* Section Case Studies */
.studies {
    min-height: 155vh;
}

.heading2 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.text3 {
    line-height: 2;
    text-align: center;
}

.text4 {
    background-color: #FFF6E9;
    color: #FFA217;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    top: 27px;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 14px;
}

.text5 {
    color: #000AFF;
    background-color:#D0E6FF ;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    top: 27px;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 14px;
}

.text6 {
    background-color: #FFF6E9;
    color: #FFA217;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    top: 27px;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 14px;
}



.line1 {
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
}

.line2 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 130px;
    flex-direction: row-reverse;
}

.line3 {
    display: flex;
    margin-left: 200px;
}

.line-left {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-left1 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line-right2 {
    margin-left: 20px;
}

.line-left2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading3 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 800;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button2 {
    width: 190px;
    height: 38px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
}

.button3 {
    background-color:#FFA217;
}

.button4 {
    background-color:#000AFF;
}

.button5 {
    background-color:#2AB090;
}


/* Section Testimonials*/
.testimonials {
    width: 99vw;
    height: 100vh;
    background-color: black;
}

.top-hero {
    margin-top: 40px;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.heading4 {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    margin-bottom: 30px;
    font-weight: 800;
    color: white;
}

.text7 {
    text-align: center;
}

.client1 {
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.client {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.top-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    position: relative;
}

.topl {
    position: absolute;
    top: -10px;
    left: 15px;
}

.top-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topr {
    position: absolute;
    top: -10px;
    left: 15px;
}

.photo-name {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.client1 {
    margin-right: 170px;
}

.clientP1 {
    margin-right: 30px;
}

.client {
    margin-right: 120px;
}

.clientP {
    margin-right: 30px;
}

.bottom-hero {
    display: flex;
    margin-top: 40px;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.bottom-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    position: relative;
}

.bottomL {
    position: absolute;
    top: -10px;
    left: 20px;
}

.bottom-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bottomr {
    position: absolute;
    top: -10px;
    left: 20px;
}


.herocha {
    width: 445px;
    height: 212px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left:1px solid gray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Recent Work */
.recenW {
    height: 85vh;
}

.work-wrapper {
    display: flex;
    justify-self: center;
    margin-top: 50px;
}

.work-1 {
    margin-right: 20px;
}

.work-2 {
    margin-left: 30px;
}

.btn {
    background-color: #3F8E00;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}


/* Get */
.get {
    height: 90vh;
    background-color: black;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

input {
    border-radius: 5px;
    font-size: 12px;
}

.textjon {
    margin-bottom: 50px;
} 

.social {
    color: white;
    font-size: 12px;
}

.inputjon1 {
    width: 350px;
    height: 40px;
    margin-bottom: 30px;
}

::placeholder  {
    font-family: "IBM Plex Mono", serif;
}

.inputjon2 {
    width: 350px;
    height: 40px;
    margin-bottom: 30px;
}

.inputjon3 {
    width: 350px;
    height: 120px;
}

.lastbtn {
    width: 350px;
    height: 50px;
    background-color: #3F8E00;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 30px;
}

.created {
    height: 10vh;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.created > p {
    color: gray;
}

@media (max-width: 390px) {
    header {
        width: 838px;
        height: 90px;
        margin: 0;
    }
    .header-wrapper {
        width: 720px;
        height: 90px;
    }
    nav {
        gap: 30px;
        width: 100vw;
        margin-left: 100px;
        margin-right: 0px;
    }
    .logo-wrapper {
        margin-right: 100px;
    }
    .menu-item {
        font-size: 12px;
        margin-left: 40px;
    }
    .logo-wrapper {
        margin-left: 250px;
    }
    .hero  {
        padding: 0;
        height: 820px;
        width: 216vw;
    }
    .hero-wrapper {
        display: flex;
        padding-top: 30px;
        flex-direction: column-reverse;
        margin: 0;
        background-color: black;

    }
    .hero-content {
        width: 100%;
    }
    .profPhoto {
        margin-left: 260px;
        width: 250px;
        height: 250px;
    }
    h1 {
        font-size: 30px;
        justify-self: center;
    }
    .text1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .button1 {
        margin-bottom: 40px;
    }
    .buttons-wrapper {
        margin-top: 0;
    }
    .text2 {
        margin-left: 50px;
    }
    .buttonjon {
        margin-top: 20px;
    }
    .button1 {
        margin-left: 250px;
    }
    .line1 {
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .line2 {
        margin: 0;
    }
    .line3 {
        margin: 0;
    }
    .line-right {
        margin: 0;
    }
    .line-left {
        margin: 0;
    }
    .line-left2 {
        margin: 0;
        justify-self: self-;
    }
    .line2 {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
    .line3 {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .work-wrapper {
        flex-wrap: wrap;
    }
}

